/* ----------setting media query for mobile--------------- */
@media (min-width: 320px) and (max-width: 480px) {
    #outerContainer {
        /* height: 100vh; */
        background-color: #3f4555;
        width: 100%;
        
        padding-left: 10px;
        padding-right: 10px;
    
    }

    table {
        caption-side: bottom;
        border-collapse: collapse;
        margin-top: 20px;
       
    }

    .splide__slide img {
        width: 330px;
        height: auto;
    }
}